.colorCanvas {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 3;
  -webkit-user-select: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
}

.colorCanvas canvas {
  display: block;
}

.colorCanvas label {
  display: block;
  overflow: hidden;
}

.colorCanvas label span {
  display: block;
  float: left;
  width: 30px;
  line-height: 25px;
}

.colorCanvas label span:after {
  content: ':';
}

.colorCanvas .spectrum,
.colorCanvas .gradient,
.colorCanvas .alpha {
  cursor: pointer;
  position: relative;
  overflow: visible;
  float: left;
}

.colorCanvas .position {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 100;
}

.colorCanvas .gradient .position {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #000;
  margin: -5px 0 0 -6px;
}

.colorCanvas .spectrum .position,
.colorCanvas .alpha .position {
  height: 2px;
  background: #000;
  width: 10px;
  margin-top: -1px;
}

.colorCanvas .controls {
  overflow: hidden;
}

.colorCanvas .preview {
  margin: 5px 0 5px 0;
}

.colorCanvas .preview,
.colorCanvas .preview .inner {
  height: 55px;
}

.colorCanvas .original {
  height: 5px;
}

.colorCanvas footer {
  margin-top: 8px;
}

.colorCanvas footer .right {
  float: right;
}

.popup {
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}