@charset "UTF-8";
/* CSS Document */

body {
	height: 100%;
	margin-bottom: 0;
	overflow: hidden;
	font-size: 100%;
	font-family: 'caviar_dreamsregular', Helvetica, Arial, sans-serif;
	background: -webkit-radial-gradient(rgba(223, 223, 223, 0), #dfdfdf); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(rgba(223, 223, 223, 0), #dfdfdf); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(rgba(223, 223, 223, 0), #dfdfdf); /* For Firefox 3.6 to 15 */
	background: radial-gradient(rgba(223, 223, 223, 0), #dfdfdf); /* Standard syntax */
}

select {
	font-size: 1.4375em;
	font-weight: 600;
    font-family: 'caviar_dreamsregular', Helvetica, Arial, sans-serif;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border-style: none;

    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.25);
}

option {
	background: #000;
}

.hidden {
	display: none;
}

#options {
	position: absolute;
	z-index: 1;
	width: 1140px;
	height: 83px;
	display: block;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10px 26px 14px 26px;
	border-radius: 5px;

	-webkit-box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.55);
	-moz-box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.55);
	box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.55);

	background: -webkit-linear-gradient(#3d4246, #25292c); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#3d4246, #25292c); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#3d4246, #25292c); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#3d4246, #25292c); /* Standard syntax */
}

.col-8 {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	margin: auto;
	width: 1139px;
	height: 80px;
	background-color: #0f1014;
	border-radius: 5px;
	padding: 2px 1px 2px 2px;
}

.col-1 {
	/*width: 10.350877192982%; /* 118/1140 = 0.10350877192982 */
	position: relative;
	top: 0;
	width: 11.023391812865%; /* 125.66666666666667/1140 = 0.11023391812865 */
	float: left;
	height: 79px;
	border-radius: 5px;
	margin-right: 1px;

	-webkit-box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);
	box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);

	background: -webkit-linear-gradient(#45494f, #2f3237); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#45494f, #2f3237); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#45494f, #2f3237); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#45494f, #2f3237); /* Standard syntax */
}

.col-half {
	/*width: 10.350877192982%; /* 118/1140 = 0.10350877192982 */
	position: absolute;
	top: 0;
	width: 4%; /* 125.66666666666667/1140 = 0.11023391812865 */
	float: left;
	left: 30px;
	height: 50px;
	border-radius: 5px;
	margin-right: 1px;
	opacity: 1;

	-webkit-box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);
	box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);

	background: -webkit-linear-gradient(#45494f, #2f3237); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#45494f, #2f3237); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#45494f, #2f3237); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#45494f, #2f3237); /* Standard syntax */
}

.col-half img {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.col-half:active {
	-webkit-box-shadow: inset 5px 5px 12px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 5px 5px 12px -2px rgba(0,0,0,0.75);
	box-shadow: inset 5px 5px 12px -2px rgba(0,0,0,0.75);

	background: -webkit-linear-gradient(#313439, #23272a); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#313439, #23272a); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#313439, #23272a); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#313439, #23272a); /* Standard syntax */
}

#hide:active img {
	content: url(../images/selected-hide.png);
}

#show:active img {
	content: url(../images/selected-show.png);
}

#hide {
	position: absolute;
	z-index: 5;
	opacity: 1;
}

#show {
	position: absolute;
	z-index: 4;
	opacity: 0;
}

.col-1 img {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.col-5 {
	width: 50%;
	height: 79px;
	float: left;
}

.col-5 img {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;
    margin: auto;
}

#colSelect {
	position: absolute;
	z-index: 1;
}

.col-1:active {
	-webkit-box-shadow: inset 5px 5px 12px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 5px 5px 12px -2px rgba(0,0,0,0.75);
	box-shadow: inset 5px 5px 12px -2px rgba(0,0,0,0.75);

	background: -webkit-linear-gradient(#313439, #23272a); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#313439, #23272a); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#313439, #23272a); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#313439, #23272a); /* Standard syntax */
}

.col-1:active #clear {
	content: url(../images/selected-clear.png);
}

.col-1:active #colSelect {
	content: url(../images/selected-colBorder.png);
}

.colour {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	height: 35px;
	width: 35px;

	-webkit-box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);
	box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);
}

.col-3 {
	position: relative;
	width: 33.070175438595%; /* 252.33333333333334/1140 = 0.22134502923977 */
	float: left;
	height: 79px;
	margin-right: 1px;
	border-radius: 5px;

	-webkit-box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);
	box-shadow: inset 5px 5px 2px -4px rgba(255,255,255,0.1), 5px 5px 12px -2px rgba(0,0,0,0.75);

	background: -webkit-linear-gradient(#45494f, #2f3237); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#45494f, #2f3237); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#45494f, #2f3237); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#45494f, #2f3237); /* Standard syntax */
}

.col-3 img {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

input[type="radio"] {
	-webkit-appearance: none;
	border-style: none;
	border-radius: 100%;
	background-color: transparent;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

input[type="radio"]:active {
	outline: none;
}

input[type="radio"]:checked {
	-webkit-appearance: none;
	background-color: transparent;
	outline: none;
}

#draw {
	content: url(../images/unselected-draw.png);
}

.col-1:active #draw {
	content: url(../images/active-draw.png);
}

#draw:checked {
	content: url(../images/selected-draw.png);
}

#crayon {
	content: url(../images/unselected-crayon.png);
}

.col-1:active #crayon {
	content: url(../images/active-crayon.png);
}

#crayon:checked {
	content: url(../images/selected-crayon.png);
}

#erase {
	content: url(../images/unselected-erase.png);
}

.col-1:active #erase {
	content: url(../images/active-erase.png);
}

#erase:checked {
	content: url(../images/selected-erase.png);
}

#texture {
	display: none;
}


